<div class="container" ng-controller="EditCtrl as ctrl">
    <h1>Edit </h1>
    <hr>
    <div class="row">
        <!--gives a GET call for 1 item to populate the html -->
        <!--<button onclick="ctrl.item()">Refresh</button>-->
        <form name="saveForm" ng-submit="ctrl.item();">
            <div class="form-group">
                <label for="title">{{vm.product.name}}:</label>
                <input class="form-control" type="text" id="title" ng-model="ctrl.vm.name" required>
            </div>
            <div class="form-group">
                <label for="title">{{vm.product.brand}}:</label>
                <input class="form-control" type="text" id="title" ng-model="ctrl.vm.brand" required>
            </div>
            <div class="form-group">
                <label for="title">{{vm.product.upc12}}</label>
                <input class="form-control" type="text" id="title" ng-model="ctrl.vm.upc12" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <!--<button type="button" class="btn btn-default" ng-click="ctrl.cancel();">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="ctrl.remove();">Remove</button>-->
        </form>
    </div>
</div>