<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Department Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString" class="form-control" size="50" type="text" name="searchString" ng-model="ctrl.searchString" placeholder="Enter Brand or Name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid" ng-click="ctrl.search()">
                Search with Brand
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid" ng-click="ctrl.searchForName()">
                Search with Name
            </button>
        </div>
    </form>
    <hr>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Name</th>
                <th>Barcode</th>
                <th>Edit</th>
                <!--<th ng-show="ctrl.showManager">Department Manager Id</th>
                <th ng-show="ctrl.showManager">Department Manager Name</th>-->

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in ctrl.product">
                <td>{{result.brand }}</td>
                <td>{{ result.name }}</td>
                <!--<td>{{ result.upc12 }}</td>-->
                <td>

                    <p>
                        <img src="http://www.barcodes4.me/barcode/c128a/{{ result.upc12 }}.png?IsTextDrawn=1" " style="width:100px;height:100px ";">


                    </p>
                </td>
                <td>
                    <!--<button ng-click="ctrl.initDetails()">Edit</button>-->
                    <button onclick="window.location.href='/app/edit/edit.html'">Edit</button>
            </tr>
        </tbody>
    </table>
</div>